/*- General -*/
body {
	font-family: "Raleway", Sans-serif;
	-webkit-font-smoothing: antialiased;
}
.navbar .navbar-nav > li > a {
	color:#fff;
  padding-left: 50px;
}
.heading {
  color: black;
  font-size: 80px;
}
