/*- General -*/
body {
	font-family: "Raleway", Sans-serif;
	-webkit-font-smoothing: antialiased;
}
.navbar .navbar-nav > li > a {
	color:#fff;
  padding-left: 50px;
}
.heading {
  color: black;
  font-size: 80px;
}
.tm-box-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 200px;
}
